<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bandlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div>
        <h1>Create new band entry</h1>
        <form th:object="${band}" th:action="@{/saveband}" method="post">
            <div>
                <label>*Name:</label>
                <input type="text" id="bandName" th:field="*{bandName}" required />
                <span th:if="${#fields.hasErrors('bandName')}" th:errors="*{bandName}"></span>
            </div>
            <div>
                <label>*Formed:</label>
                <input type="text" id="yearFormed" th:field="*{yearFormed}" required />
                <span th:if="${#fields.hasErrors('yearFormed')}" th:errors="*{yearFormed}"></span>
            </div>
            <div>
                <label>*Country:</label>
                <input type="text" id="countryOfOrigin" th:field="*{countryOfOrigin}" required />
                <span th:if="${#fields.hasErrors('countryOfOrigin')}" th:errors="*{countryOfOrigin}"></span>
            </div>
            <div>
                <label>*Genre:</label>
                <input type="text" id="genre" th:field="*{genre}" required />
                <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
            </div>
            <input type="submit" value="Add" />
            <input type="reset" value="Clear" />
            <input type="button" value="Back" onclick="location.href='/bandlist'" />
        </form>
    </div>
</body>

</html>