<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div>
        <h1>Create new song entry</h1>
        <form th:object="${newSong}" th:action="@{/savesong}" method="post">
            <div>
                <input type="hidden" th:field="${newSong.band}" />
            </div>
            <div>
                <label>Band:</label>
                <input type="text" th:field="${newSong.band.bandName}" readonly />
            </div>
            <div>
                <label>*Song name:</label>
                <input type="text" id="songName" th:field="*{songName}" required />
                <span th:if="${#fields.hasErrors('songName')}" th:errors="*{songName}"></span>
            </div>
            <div>
                <label>*Published:</label>
                <input type="text" id="publicationYear" th:field="*{publicationYear}" required />
                <span th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}"></span>
            </div>
            <div>
                <label>*Album:</label>
                <input type="text" id="album" th:field="*{album}" required />
                <span th:if="${#fields.hasErrors('album')}" th:errors="*{album}"></span>
            </div>
            <input type="submit" value="Add" />
            <input type="reset" value="Clear" />
            <a th:href="@{/bandinfo/{id}(id=${newSong.band.bandId})}">Back</a>
        </form>
    </div>
</body>

</html>