<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bandlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div>
        <table>
            <caption>
                <h1>Bands</h1>
                <input type="submit" value="New Band" onclick="location.href='/addband'" />
            </caption>
            <tbody>
                <tr th:each=" band : ${bands}">
                    <td>
                        <a th:href="@{/bandinfo/{id}(id=${band.bandId})}" th:text="${band.bandName}"></a>
                    </td>
                    <td><a th:href="@{/editband/{id}(id=${band.bandId})}">Edit</a></td>
                    <td>
                        <a th:href="@{/deleteband/{id}(id=${band.bandId})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>