<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <button onclick="location.href='/bandlist'">Back</button>

    <h1 th:text="${band.bandName}"></h1>
    <a th:href="@{/addsong/{id}(id=${band.bandId})}">New Song</a>
    <a th:href="@{/editband/{id}(id=${band.bandId})}">Edit</a>

    <table>
        <thead>
            <tr>
                <td>Year formed</td>
                <td>Country</td>
                <td>Genre</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${band.yearFormed}"></td>
                <td th:text="${band.countryOfOrigin}"></td>
                <td th:text="${band.genre}"></td>
            </tr>
        </tbody>
    </table>


    <h2>Songlist</h2>

    <table>
        <thead>
            <tr>
                <td>Song name</td>
                <td>Year</td>
                <td>Album</td>
                <td>Listen</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each=" song : ${songs}">
                <td th:text="${song.songName}"></td>
                <td th:text="${song.publicationYear}"></td>
                <td th:text="${song.album}"></td>
                <td>
                    <!-- <a th:href="@{song.spotifyLink}" target="_blank"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" /></a> -->
                    <!-- <a th:href="${song.spotifyLink}" th:text="${song.spotifyLink}"></a>
                    <a th:href="@{song.youtubeLink}" th:utext="${song.youtubeLink}"></a> -->
                </td>
                <td><a th:href="@{/editsong/{id}(id=${song.songId})}">Edit</a></td>
                <td>
                    <a th:href="@{/deletesong/{id}(id=${song.songId})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <h2>Leave a comment</h2>
        <form th:object="${newComment}" th:action="@{/savecomment}" method="post" action="#">
            <input type="hidden" th:field="${newComment.band}" th:value="${newComment.band}" />
            <textarea style="resize: none; " cols="60" rows="7" th:field="*{content}" required></textarea><br />
            <input type="submit" value="Add comment" />
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        </form>
    </div>
    <div>
        <h2>Title here</h2>
        <div th:each=" comment : ${comments}">
            <span th:text="${comment.getFormattedTimestamp}"></span>
            <span><a th:href="@{/deletecomment/{id}(id=${comment.commentId})}">Delete</a></span>
            <div>
                <p th:text="${comment.content}"></p>
            </div>
        </div>
    </div>

</body>

</html>