<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bandlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <form th:object="${song}" th:action="@{/savesongedit}" method="post">
        <caption>
            <h1 th:text="'Edit song ' + ${song.songName}"></h1>
        </caption>
        <div>
            <input type="hidden" th:field="${song.band}" />
        </div>
        <div>
            <input type="hidden" th:field="*{songId}" />
        </div>
        <div>
            <label>*Name:</label>
            <input type="text" id="songName" th:field="*{songName}" required />
            <span th:if="${#fields.hasErrors('songName')}" th:errors="*{songName}"></span>
        </div>
        <div>
            <label>*Published:</label>
            <input type="text" id="publicationYear" th:field="*{publicationYear}" required />
            <span th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}"></span>
        </div>
        <div>
            <label>*Album:</label>
            <input type="text" id="album" th:field="*{album}" required />
            <span th:if="${#fields.hasErrors('album')}" th:errors="*{album}"></span>
        </div>
        <div>
            <label>Band:</label>
            <input type="text" id="bandName" th:field="${song.band.bandName}" readonly />
        </div>
        <input type="submit" value="Save" />
        <a th:href="@{/bandinfo/{id}(id=${song.band.bandId})}">Back</a>
    </form>

</body>

</html>