<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Bandlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css.bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>


<body>
    <div>
        <h1>Sign up</h1>
        <form th:object="${signupForm}" th:action="@{/saveuser}" method="post">
            <div>
                <label>Username:</label>
                <input type="text" id="userName" th:field="${signupForm.username}" placeholder="Username" required />
                <span th:if="${#fields.hasErrors('username')}" th:errors="${signupForm.username}"></span>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" id="password" th:field="${signupForm.password}" placeholder="Password"
                    required />
                <span th:if="${#fields.hasErrors('password')}" th:errors="${signupForm.password}"></span>
            </div>
            <div>
                <label>Confirm Password:</label>
                <input type="password" id="confirmPassword" th:field="${signupForm.confirmPassword}"
                    placeholder="Confirm Password" required />
                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="${signupForm.confirmPassword}"></span>
            </div>
            <div>
                <input type="submit" value="Sign Up" />
            </div>
        </form>
    </div>

</body>

</html>